@font-face {
    font-family: "Alata";
    src: url(./assets/fonts/Alata-Regular.ttf);
}

@font-face {
    font-family: "JosefinSans";
    src: url(./assets/fonts/JosefinSans.ttf);
}

h2{
    color : black;
}
h1, h2, h4,h3 {
    font-weight: 300;
}

h1, h2, h3, h4, li, button{
    font-family: 'JosefinSans';
}

h2, h4{
    font-size : 3rem;
}

h3{
    font-size : 3.5em;
}

h1{
    padding:3%;
    // @include width_height_set_up(60px, 23px);
    border : 1px solid rgba(255, 255, 255, 0.886);
    // margin-top : 5rem;
    max-width :550px;
    font-size : 5rem;
}

h3{
    color: rgba(0, 0, 0, 0.687);
}

p{
    font-family: "Alata";
    font-size: 1.3rem;
    color: rgba(0, 0, 0, 0.644);
}


