$content_width : 85%;
//bannière
@mixin banner_set_up{
    height : 80vh;
    padding:0;
    color:white;
    background-image: url('../loopstudios-landing-page/images/desktop/image-hero.jpg');
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    overflow:hidden;
}

//set le filter sombre sur la bannière
@mixin banner_content_wrapper_set_up{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top:130px;
    margin-bottom : 8%;
}

//aajoute un filter sombre au header
@mixin add_filter{
    width : 100%;
    height : 100%;
    background: rgba(0, 0, 0, 0.406);
    padding-top : 5%;
    padding-left : 10%;
}
//met un élément en absolute
@function check_screen($a){
    @if($a == true){
        @return absolute;
    } 
    @else{
        @return static;
    }
}
@mixin set_position($top,$left,$a){
    position : check_screen($a);
    top : $top;
    left : $left;
}

//attribut des valueurs en width et height
@mixin width_height_set_up($a,$b){
    width : $a;
    height : $b
}

//initialise une flexbox en dispaosant ses éléments en $justify_content
@mixin display_flex_set_up($justify_content){
    display:flex ; 
    justify-content: $justify_content;
    
}

@mixin display_content_inline_set_up($justify_content){
    width:100%;
    // padding-right : 10%;
    @include display_flex_set_up($justify_content);
    align-items: flex-start;
}


//gère l'affichage des ul
@mixin display_list_set_up($justify_content,$li_margin){
    ul{
            @include display_flex_set_up($justify_content);
            margin-right : 10%;
            width : 40%;
            list-style-type: none;
            li{
                margin-right : $li_margin ;//
                a{
                    text-decoration: none;
                    color : white;
                    font-size : 1.9rem;
                    &.active{
                                position  : relative;
                                &::before{
                                        @include set_position(100%,50%,true);
                                        transform: translateX(-50%);
                                        content:'';
                                        @include width_height_set_up(30px,0);
                                        background :white;
                                        transition : 0.1s;
                                    }
                                &:hover::before{
                                        height : 3px;
                                    }
                            }
                }
            }
        }
    }
//mixin media queries
@mixin responsive{
    top : 100%;
    left:0;
}

