@import'./mixin_lib.scss';/*@Mixin utilitaire */
@import './media.scss'; /*  @Média queris */
@import'./fonts-set_up.scss';/*  feuille de style de fonts */
/*
        ************** PRINCIPALES STYLESHEET ****************

*/

html{
    font-size: 62.5%;
}
body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    color : white;
}
*{
    box-sizing : border-box;
}

.banner{
    @include banner_set_up;
    @include add-dark-filter-to-banner;
}

///tous les élements 
.main-content-wrapper{
    @include main_content_wrapper_set_up;
    // border: 2px solid red;
    .vr-section-wrapper{
        @include vr_section_set_up;
    }

    .our-section-creations-wrapper{
        
        @include our_creations_wrapper_set_up;
        //correspond au div avec le bouton
        .our-creations-visit-options{
           @include div_with_button_set_up;
        }
        .figures-categories-section{
            @include figures_categories_section_set_up;
        }
    }
}
//////////////////////////////:::::::::::::::::::::::::::::::::::::::::::::::
footer{
        color:white;
        background: #000;
        @include display-elements-on-footer;
        p{
            color : rgba(255, 255, 255, 0.5);
            text-align : right;
        }
    }



