html {
  font-size: 62.5%;
}

body {
  margin: 0;
  padding: 0;
}

.banner-content-wrapper {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.406);
  padding-top: 5%;
  padding-left: 10%;
}

.banner {
  height: 80vh;
  padding: 0;
  color: white;
  background-image: url("../loopstudios-landing-page/images/desktop/image-hero.jpg");
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  overflow: hidden;
  height: 90vh;
}
.banner nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  align-items: flex-start;
}
.banner nav ul {
  display: flex;
  justify-content: flex-start;
  margin-right: 10%;
  width: 40%;
  list-style-type: none;
}
.banner nav ul li {
  margin-right: 7%;
}
.banner nav ul li a {
  text-decoration: none;
  color: white;
  font-size: 1.9rem;
}
.banner nav ul li a.active {
  position: relative;
}
.banner nav ul li a.active::before {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  content: "";
  width: 30px;
  height: 0;
  background: white;
  transition: 0.1s;
}
.banner nav ul li a.active:hover::before {
  height: 3px;
}
.banner h1 {
  padding: 2%;
  width: 50%;
  height: 230px;
  border: 1px solid rgba(255, 255, 255, 0.886);
  font-size: 3.5rem;
  margin-top: 100px;
  width: 42%;
  height: 150px;
  font-weight: 300;
}

.logo {
  width: 18%;
  height: 35px;
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 130px;
  margin-bottom: 8%;
}

.vr-wrapper {
  position: relative;
  width: 85%;
  margin-bottom: 100px;
}
.vr-wrapper img {
  width: 70%;
}
.vr-wrapper figcaption {
  background: white;
  padding: 8%;
  width: 24.2857142857%;
  position: absolute;
  top: 40%;
  left: 55%;
}

.creations-visit-options {
  z-index: 2;
  width: 80vw;
  margin-right: 3%;
  display: flex;
  justify-content: space-between;
  font-size: 2rem;
}
.creations-visit-options button {
  height: 60px;
  width: 18%;
}

#figures-categories {
  width: 90%;
  margin-top: 4%;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}
#figures-categories figure {
  position: relative;
  width: 21%;
  margin-right: -20px;
  margin-bottom: 1%;
}
#figures-categories figure img {
  width: 100%;
}
#figures-categories figure figcaption {
  position: absolute;
  top: 70%;
  left: 1%;
  color: white;
  width: 50px;
  font-size: 1.3em;
}

footer {
  color: white;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  font-size: 1.8rem;
  height: 180px;
  padding-left: 100px;
  padding-right: 150px;
  padding-top: 2%;
  background-color: black;
  overflow: hidden;
}
footer ul {
  display: flex;
  justify-content: flex-end;
  margin-right: 10%;
  width: 40%;
  list-style-type: none;
}
footer ul li {
  margin-right: 2%;
}
footer ul li a {
  text-decoration: none;
  color: white;
  font-size: 1.9rem;
}
footer ul li a.active {
  position: relative;
}
footer ul li a.active::before {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  content: "";
  width: 30px;
  height: 0;
  background: white;
  transition: 0.1s;
}
footer ul li a.active:hover::before {
  height: 3px;
}
footer .footer-flex-box {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0;
}
footer .footer-flex-box .links {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  padding: 0;
  width: 40%;
  margin-right: 0;
}
footer .footer-flex-box p {
  font-size: 1.3rem;
}
footer .footer-flex-box .footer-links {
  padding: 0;
  display: flex;
  justify-content: space-between;
}

/*# sourceMappingURL=projet.css.map */
